.site-footer
{
  background-color: black;
  padding:45px 0 20px;
  font-size:15px;
  line-height:24px;
  color: whitesmoke;
}

.site-footer h5
{
  color:#fff;
  font-size:16px;
  text-transform:uppercase;
  margin-top:5px;
  letter-spacing:2px
}