<br>
<br>

<div class="holdings">

    <div class="header">
        <h2>Holdings</h2>
    </div>

    <div>
        <mat-form-field appearance="fill">
            <mat-label>Search stocks by ticker</mat-label>
            <input matInput placeholder="AAPL">
        </mat-form-field>
    </div>

    <br> <br>

    <div>
        <mat-table class="mat-elevation-z8" [dataSource]="holdings$" matSort
            matSortActive="bought" matSortDirection="desc" matSortDisableClear>

            <ng-container matColumnDef="ticker">
                <mat-header-cell *matHeaderCellDef>Ticker</mat-header-cell>
                <mat-cell *matCellDef="let holding">{{holding.ticker}}</mat-cell>
            </ng-container>

            <ng-container matColumnDef="companyName">
                <mat-header-cell *matHeaderCellDef>Company Name</mat-header-cell>
                <mat-cell *matCellDef="let holding">{{holding.companyName}}</mat-cell>
            </ng-container>

            <ng-container matColumnDef="bought">
                <mat-header-cell *matHeaderCellDef mat-sort-header>Stocks Purchased</mat-header-cell>
                <mat-cell *matCellDef="let holding">{{holding.bought}}</mat-cell>
            </ng-container>

            <ng-container matColumnDef="sold">
                <mat-header-cell *matHeaderCellDef mat-sort-header>Stocks Sold</mat-header-cell>
                <mat-cell *matCellDef="let holding">{{holding.sold}}</mat-cell>
            </ng-container>

            <ng-container matColumnDef="balance">
                <mat-header-cell *matHeaderCellDef>Stock Holdings</mat-header-cell>
                <mat-cell *matCellDef="let holding">{{ (holding.bought - holding.sold) }}</mat-cell>
            </ng-container>

            <ng-container matColumnDef="price">
                <mat-header-cell *matHeaderCellDef>Current Price</mat-header-cell>
                <mat-cell *matCellDef="let holding;"><app-fetcher [quote]=getPrice(holding?.ticker)></app-fetcher></mat-cell>
            </ng-container>

            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>

            <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>

        </mat-table>

        <mat-paginator [length]="(holdings$ | async)?.length" [pageSize]="10" [pageSizeOptions]="[3, 5, 10]"></mat-paginator>
    </div>
</div>
